.auth-bg {
  body.screen--xs & {
    background-color: white;
  }

  .auth-container {
    max-width: 26rem;
    border-radius: 0.3rem;
    background-color: #ffffff;
    padding: 1rem 3rem;
    margin: 10rem auto;

    h1 {
      font-size: 1.6rem;
      font-weight: normal;
      margin: 1rem auto 0 auto;
      width: 100%;
      text-align: center;
      line-height: 1em;
    }

    .q-input {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    body.screen--xs & {
      box-shadow: none;
      border: none;
    }
  }
}
